* {
  transition: 0.8s;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
.background-index-gym {
  position: fixed;
  opacity: 40%;
  width: auto;
  height: 100%;
}
.container {
  top: auto;
  justify-content: center;
  height: 1200px;
  width: 100%;
}
.gym-logo {
  top: 3%;
  scale: 0.9;
  transition: 0.4s;
}
.container-login {
  width: 80%;
  height: auto;
  left: 10%;
}

.container-login h3 {
  scale: 1.3;
  text-align: center;
  left: 0%;
}

.container-login h4 {
  scale: 1.3;
  text-align: center;
  margin-left: 0%;
}

.manager-logo {
  scale: 0.5;
  top: 20%;
  right: 3%;
  position: absolute;
}
.gym-data {
  opacity: 100%;
  top: 139%;
  width: 80%;
  line-height: 205%;
}
.week {
  top: 23%;
  display: grid;
  font-size: x-large;
  grid-template-columns: 50% 50%;
  text-align: justify;
}
.gym-adress {
  top: 200%;
}

@media (max-width: 600px) {
  .manager-logo {
    transition: 0.4s;
    top: 20%;
    right: 1%;
    position: absolute;
  }
}
